*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: black;
}
img{
    object-fit: cover;
    object-position: center;
    width: 350px;
    height: 400px;
    border-radius: 20px;
    border: 1px solid white;

}
button{
    padding:1.5vw 2vw;
    background-color: #4c4c4c;
    color: white;
    font-size: 1vw;
    border-radius: 10px;
    border: 2px solid black;
}
button:active{
    scale: 0.97;
}