* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(116, 198, 249);
    gap: 20px;
}

.card {
    background-color: white;
    text-align: center;
    padding: 2.5vw;
    border-radius: 20px;
}

.card h1,
h3,
h2 {
    margin-bottom: 1.5vw;
}