*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card{
    background-color: white;
    padding: 2vw;
    border-radius: 20px;
}
.progress{
    width: 20vw;
    background-color: lightgrey;
    height: 1vw;
    border-radius: 10px;
    margin-bottom: 3.5vw;
}
.progress .process{
    height: 100%;
    width: 0%;
    border-radius: 10px;
    background-color: rgb(27, 253, 27);
}
.perdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5vw;
}
.perdown h1{
    font-size: 2.5vw;
}
.perdown button{
    font-size: 1.5vw;
    border: none;
    padding: 1vw;
    background-color: rgb(27, 253, 27);
    border-radius: 10px;
    cursor: pointer;
}
.perdown button:active{
   transform: scale(1.1);
}